<div ng-controller='HomeController as ctrl'>  
    	<div class="container">
    	<div class="row">
	    	<div class="col-md-4 right-border left-border">
	    		<h3 class="text-center">Dream List</h3>
	    		<h5 class="text-center">(13/Jun/2017 - 13/Dec/2017)</h5>
	    	</div>
	        <div class="col-md-4 right-border">
	    		<h3 class="text-center">Checked List</h3>
	    		<h5 class="text-center">(13/Jun/2017 - 13/Dec/2017)</h5>
	    	</div>
	    	<div class="col-md-4 right-border">
	    		<h3 class="text-center">Work in Progress</h3>
	    		<h5 class="text-center">(13/Jun/2017 - 13/Dec/2017)</h5>
	    	</div>
      	</div>
      	</div>
</div>  