.dancing-font {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 45px;
	line-height: 40px;
}
.dancing-font-small {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 29px;
	line-height: 40px;
}